
<div>
  <div *ngIf="tableBuffer" class="loading"> </div>

  <div class="main-content" >
    <div class="container-fluid full_dashboard_area">
      
      <div class="row">
        <div class="col-sm-4">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Total Task</div>
                  <div class="widget-subheading">List of all components & task</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-primary">100</div>
                  <i class="fa fa-bar-chart task-icon"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary"
                    style="width: 71%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Ongoing Developer</div>
                  <div class="widget-subheading">Ongoing developer to start task</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-success">10</div>
                  <i class="fa fa-bar-chart task-icon"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success"
                    style="width: 71%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Pending Task</div>
                  <div class="widget-subheading">List of all pending task</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-warning">90</div>
                  <i class="fa fa-bar-chart task-icon"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-warning"
                    style="width: 71%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Testing</div>
                  <div class="widget-subheading">List of all testing task</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-warning">10</div>
                  <i class="fa fa-bar-chart task-icon3"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-warning"
                    style="width: 71%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Review </div>
                  <div class="widget-subheading">List of all review task</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-danger">5</div>
                  <i class="fa fa-bar-chart task-icon3"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-danger"
                    style="width: 25%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Final Test </div>
                  <div class="widget-subheading">List of all final testing</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-success">100</div>
                  <i class="fa fa-bar-chart task-icon3"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success"
                    style="width: 50%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Complete Task</div>
                  <div class="widget-subheading">List of all final testing</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-success">115</div>
                  <i class="fa fa-bar-chart task-icon3"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success"
                    style="width: 11%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Testing</div>
                  <div class="widget-subheading">List of all testing task</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-warning">10</div>
                  <i class="fa fa-bar-chart task-icon3"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-warning"
                    style="width: 71%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Review </div>
                  <div class="widget-subheading">List of all review task</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-danger">5</div>
                  <i class="fa fa-bar-chart task-icon3"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-danger"
                    style="width: 25%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Final Test </div>
                  <div class="widget-subheading">List of all final testing</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-success">100</div>
                  <i class="fa fa-bar-chart task-icon3"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success"
                    style="width: 50%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 widget-content">
            <div class="widget-content-outer">
              <div class="widget-content-wrapper">
                <div class="widget-content-left">
                  <div class="widget-heading">Complete Task</div>
                  <div class="widget-subheading">List of all final testing</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-success">115</div>
                  <i class="fa fa-bar-chart task-icon3"></i>
                </div>
              </div>
              <div class="widget-progress-wrapper">
                <div class="progress-bar-sm progress-bar-animated-alt progress">
                  <div role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success"
                    style="width: 11%;"></div>
                </div>
                <div class="progress-sub-label">
                  <div class="sub-label-left">Task Growth</div>
                  <div class="sub-label-right">100%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- 
      <div class="row">
        <div class="col-12 col-lg-12  col-md-12 col-xl-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 bg">
              <div class="card card_exta card-stats">
                <div >
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-users fa-w-20"><path fill="currentColor" d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z" class=""></path></svg>
                    </div>
                    <p class="card-category card_category_one"> Total</p>
                    <h3 class="card-title">total</h3>
                    <small class=" card_category_blue">0</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-6 bg">
              <div class="card card_exta card-stats">
                <div >
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-users fa-w-20"><path fill="currentColor" d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z" class=""></path></svg>
                    </div>
                    <p class="card-category card_category_one"> Total</p>
                    <h3 class="card-title">total</h3>
                    <small class=" card_category_blue">0</small>
                  </div>
                </div>
              </div>
            </div>


          




           



      
     

         



          </div>
        </div>
      </div> -->

      <!----------------------------------------------------->
   
      <!------------------------------------------------------->

     

      <!------>
  
      <!------>

      <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-6 bg">
        
        <button class="btn btn-info" (click)="info()">info</button>
        <button class="btn btn-success" (click)="success()">Success</button>
        <button class="btn btn-warning" (click)="warning()">Warning</button>
        <button class="btn btn-danger" (click)="danger()">Error</button>
      </div> -->

    </div>
  </div>
</div>
