<ng-container>
    <ng-container>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card form-head-color " data-color="azure">
                            <div class="card-header card-header-infinity">
                                <h4 class="card-title">Edit Language</h4>
                            </div>
                            <br><br>
                            <div class="card-body">
                                <ng-container>
                                    
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>